@model MarketPlace.Models.TradePlace

@{
    ViewBag.Title = "Remove";
}

<h2>Remove trade place</h2>
<dl>
    <dt>Shop title</dt>
    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>

    <dt>Аddress</dt>
    <dd>
        @Html.DisplayFor(model => model.Address)
    </dd>

    <dt>Size</dt>
    <dd>
        @Html.DisplayFor(model => model.Size)
    </dd>
</dl>

@using (Html.BeginForm())
{
    <input type="submit" value="Remove" />
}